@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Kanit', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

a, .btn{    
    transition: all 300ms ease;
}

#front-page {
    background: linear-gradient(rgba(4,0,30,0.7),rgba(4,9,30,0.7)), url(assets/ionevenkno.jpg), no-repeat, center / cover;
    color: white;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    font-size: 24px;
    color: white;
    background-color: transparent;
    animation-name: slideDown;
    animation-duration: 1s;
}

@keyframes slideDown {
    from {
        transform: translateY(-300%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
    position: relative; 
}

.nav a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0; 
    left: 0;
    bottom: -10px;
    transition: width 300ms ease; 
}

.nav a:hover:after {
    width: 100%;
}

.logo {
    font-size: 35px;
    cursor: default;
    color: white;
    font-weight: 800;
}

/* RESPONSIVE NAVBAR 
learned from: https://www.youtube.com/watch?v=ldwlOzRvYOU&t=1231s */

#responsive {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hamburg {
    position: relative;
    display: inline-block;
}

.hamburg-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    margin-top: 15px;
}

.hamburg-icon span {
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.3 ease-in-out;
}

.links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    z-index: 1;
}

.links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: rgba(74,74,236,1);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    font-size: 20px;
}

.links li {
    list-style: none;
}

.links.open {
    max-height: 300px;
}

.hamburg-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburg-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburg-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburg-icon span:first-child{
    transform: none;
}

.hamburg-icon span:first-child{
    opacity: 1;
}

.hamburg-icon span:first-child{
    transform: none;
}

.title h1 {
    font-size: 160px;
    line-height: 160px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(assets/back.png);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
}

@keyframes back {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}

