@media screen and (max-width: 1200px){
    #nav-bar {
        display: none;
    }
    #responsive {
        display: flex;
    }
    #responsive .logo {
        margin-left: 1rem;
        margin-top: 1.2rem;
    }
    #responsive .hamburg {
        margin-right: 1rem;
    }
}